* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.header {
    padding: 1.5rem;
    font-size: 14px;
}

.container-logo-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo {
    width: 50%;
}

.search {
    width: 100%;
    position: relative;
}

.search input {
    position: relative;
    border: 1px solid #ebebeb;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 16px;
}

.search button {
    position: absolute;
    right: 0.5rem;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: white;
}

.search button i {
    font-size: 18px;
    color: #666;
}

.header .main-nav {
    display: none;
}

.text-header {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

.main-nav ul {
    list-style: none;
    padding: 0;
}

.main-nav ul li a {
    color: black;
    text-decoration: none;
}

.burger-menu {
    text-align: center;
    font-size: 24px;
    width: 36px;
    height: 36px;
    padding: 8px;
    margin: 0 auto;
    margin-top: 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu i {
    font-size: 24px;
}

.banner {
    width: 100%;
}

main {
    width: 100%;
    padding: 4rem 0;
}

.text-title {
    font-size: 24px;
    text-align: center;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
}

.form-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}

#username:invalid {
    border: 1px solid red;
}

.input-form {
    border: 1px solid #ebebeb;
    outline: none;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    color: #222;
}

.input-form:focus {
    border: 1px solid #666;
}

/*
.input-form:is(:invalid) {
    border: 1px solid #ef4444;
}
*/

.container-input-label > label {
    margin-bottom: 0.5rem;
    display: block;
}

.container-input-label > select {
    width: 100%;
    padding: 0.5rem;
    background-color: white;
    text-transform: uppercase;
    font-size: 1rem;
    color: #222;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}

.container-input-label > select:focus-visible {
    outline: none;
}

.container-checkbox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-checkbox .checkbox > input {
    margin-right: 0.5rem;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transition-property: background-color, color, opacity;
}

.btn:hover {
    background-color: #222;
    color: white;
}

.btn-primary {
    background-color: #1259c3;
    color: white;
}

.btn-primary:hover {
    background-color: #1259c3;
    opacity: 0.9;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: #666;
}

.items-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .items-footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    color: #666;
}

.footer .items-footer article h6 {
    font-size: 16px;
}

.footer .items-footer article i {
    color: #1259c3;
    font-size: 3rem;
}

.footer .items-footer article span {
    font-size: 14px;
}

/* TABLETS */
@media (min-width: 640px) {
    .header .main-nav {
        display: flex;
        justify-content: space-between;
    }

    .header .main-nav ul {
        display: flex;
        gap: 3rem;
    }

    .text-header {
        margin: 2rem auto;
    }

    .logo img {
        width: 25%;
    }

    .header .burger-menu {
        display: none;
    }

    .form-container {
        width: 50%;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    .form-container {
        width: 30%;
        gap: 1.5rem;
    }

    .items-footer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 0 2rem;
    }
}

/* Colores */ 
.yellow-text {
    color: #eac926;
}
.blue-text {
    color: #03264c;
}
.lb-text {
    color: #1259c3;
}
.dark-text {
    color: #666;
}
.light-text {
    color: #ebebeb;
}
.green-text {
    color: #39b54a;
}

.yellow-bg {
    background-color: #eac926;
}
.blue-bg {
    background-color: #03264c;
}
.lb-bg {
    background-color: #1259c3;
}
.dark-bg {
    background-color: #666;
}
.light-bg {
    background-color: #ebebeb;
}
.green-bg {
    background-color: #39b54a;
}

.white-bg {
    background-color: #fff;
}
