/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
}

.header {
    padding: 1.5rem;
}

.logo {
    width: 100%;
}

.logo img {
    width: 60%;
}

.header .main-nav {
    display: none;
}

.text-header {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

main {
    width: 90%;
    text-align: center;
    margin: auto;
}

.text-title {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.text-price {
    font-size: 18px;
}

.text-description {
    font-size: 16px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
}

.main-nav ul li a {
    color: black;
    text-decoration: none;
}

.burger-menu {
    text-align: center;
    font-size: 24px;
    width: 36px;
    height: 36px;
    padding: 8px;
    margin: 0 auto;
    margin-top: 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu i {
    font-size: 24px;
}

.banner {
    width: 100%;
}

.article-item {
    margin-top: 10px;
    width: 100%;
}

.article-item:first-child {
    margin-top: 0;
}

.article-item img {
    width: 100%;
}

.description-item {
    border-top: #ebebeb 1px solid;
    padding: 15px;
    text-align: justify;
}

.description-item .text-name {
    display: none;
}

.icon-truck {
    display: inline-block;
    border-radius: 50%;
    padding: 0.5rem;
    border: #39b54a 1px solid;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    color: #666;
}

.footer div h6 {
    font-size: 16px;
}

.footer div i {
    color: #1259c3;
    font-size: 3rem;
}

.footer div span {
    font-size: 14px;
}

/* TABLETS */
@media (min-width: 640px) {
    .header .main-nav {
        display: block;
    }

    .logo img {
        width: 25%;
    }

    .header .burger-menu {
        display: none;
    }

    .description-item .text-name {
        display: block;
        margin-top: 1rem;
    }

    .article-item {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
}

/* Colores */
.yellow-text {
    color: #eac926;
}
.blue-text {
    color: #03264c;
}
.lb-text {
    color: #1259c3;
}
.dark-text {
    color: #666;
}
.light-text {
    color: #ebebeb;
}
.green-text {
    color: #39b54a;
}

.yellow-bg {
    background-color: #eac926;
}
.blue-bg {
    background-color: #03264c;
}
.lb-bg {
    background-color: #1259c3;
}
.dark-bg {
    background-color: #666;
}
.light-bg {
    background-color: #ebebeb;
}
.green-bg {
    background-color: #39b54a;
}

.white-bg {
    background-color: #fff;
}
